extends layout


block content
  h1= title
  p Welcome to #{title}
  script.
    function onButtonClick(){
      //- console.log('#{title}')
      axio = #{cli}
      fun = #{clickBtn}
      
      fun( axio )
      
    }
  button(onclick='onButtonClick()') Click
  //- button(onclick= 'clickBtn()') Click
  
